body {
  font-family: "Courier New", Courier;
  color: #62BC92;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

header{
  grid-area: head;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 2em;
  margin-bottom: 2em;
  color: inherit;
  background-color: inherit;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 4em;
  font-family: ;
  color: inherit;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: inherit;
  text-align: center;
}

p {
  color: inherit;
  text-align: justify;
}

nav {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #212529;
}

nav a {
  padding: 0.25em;
}
nav a:link, nav a:visited {
  color: #62BC92;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}

footer {

}

main {
padding: 0 2em 2em 2em;
display: grid;
grid-template-columns: 1fr;
grid-gap: 1em;
justify-items: center;
align-items: center;
grid-template-areas:
  "head head head"
  "one two three"
  "res1 res2 res3";
}

.resource-one a:link, .resource-one a:visited, .resource-two a:link, .resource-two a:visited, .resource-three a:link, .resource-three a:visited {
  color: #62BC92;
  text-decoration: none;
}

.resource-one a:hover, .resource-one a:active, .resource-two a:hover, .resource-two a:active, .resource-three a:hover, .resource-three a:active {
  color: #F0F0F0;
  text-decoration: underline;
}

#first {text-align: center; background-color: #212529;}
#second {text-align: center; background-color: #212529;}
#third {text-align: center; background-color: #212529;}
#resources {display: flex; flex-direction: row; grid-area: res2;}
#texts {display: flex; flex-direction: row; grid-area: two}
.text-one {grid-area: one;}
.text-two {grid-area: two;}
.text-three {grid-area: three;}
.resource-one {grid-area: res1; background-color: #212529;}
.resource-two {grid-area: res2; background-color: #212529;}
.resource-three {grid-area: res3; background-color: #212529;}
