*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.45;
  font-size: 18px;
  color: #62BC92;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
}
header {
  padding: 2em;
  margin-bottom: 2em;
  color: inherit;
  background-color: inherit;
  font-family: 'Ubuntu', sans-serif;
}
header img {
  text-align: center;
  width: 100%;
  height: auto;
}
h1 {
  font-size: 4em;
  color: inherit;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: inherit;
  text-align: center;
}

p {
  color: inherit;
}

nav {
  font-size: 1.25em;
  padding: .5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #212529;
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
nav a {
  padding: 0.25em;
  transition: all .3s ease-in-out;
}
nav a:link, nav a:visited {
  color: #62BC92;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
}
main {
  padding: 0 2em 2em 2em;
}
#texts {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1.5em;
}
#texts > * {
  padding: 1em;
}
#resources > * {
  padding: 1em;
}
#resources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1.5em;
}
@media screen and (max-width: 768px) {
  #texts {
    grid-template-columns: 1fr;
  }
  #resources {
    grid-template-columns: 1fr;
  }
}

.resource-one a:link, .resource-one a:visited, .resource-two a:link, .resource-two a:visited, .resource-three a:link, .resource-three a:visited {
  color: #62BC92;
  text-decoration: none;
}

.resource-one a:hover, .resource-one a:active, .resource-two a:hover, .resource-two a:active, .resource-three a:hover, .resource-three a:active {
  color: #F0F0F0;
  text-decoration: underline;
}

#first {background-color: #212529;}
#second {background-color: #212529;}
#third {background-color: #212529;}
.resource-one {background-color: #212529;}
.resource-two {background-color: #212529;}
.resource-three {background-color: #212529;}

footer {
  text-align: center;
}
